.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 88px;
}

.categories a {
  color: var(--background-header-color);
}

.categories-title {
  width: 220px;
  margin: 0 auto;
}

.category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-card-color);
  align-items: center;
  width: 312px;
  height: 220px;
  position: relative;
  gap: 24px;
  text-align: center;
}

h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  line-height: 100%;
}

.category img {
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .categories {
    flex-direction: row;
    width: 99%;
    flex-wrap: wrap;
  }

  .categories-title {
    width: auto;
  }
}

@media screen and (min-width: 994px) {
  .categories {
    flex-direction: row;
    width: 650px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1415px) {
  .categories {
    flex-direction: row;
    width: 1320px;
    margin: 0 auto;
  }
}
