.item header {
  display: flex;
  flex-direction: column;
  position: static;
  padding: 0 24px 0;
  background-color: transparent;
  min-height: 450px;
}

.img-item {
  margin: 0 auto;
}

.item p {
  padding: 0 24px 0;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 24px;
}

.item h4 {
  padding: 24px 0;
  margin-bottom: 0;
  display: block;
  line-height: 32px;
}

.item.jap a {
    margin-bottom: 40px;
}

.item a {
  text-align: center;
  width: 100%;
}

.item footer {
  padding: 0 24px 24px 24px; 
  width: 100%;
  box-sizing: border-box; 
}

.img-item.tokyo {
    background-image: url(../assets/Tokyo-mobile.jpg);
}

.img-item.osaka {
    background-image: url(../assets/Osaka-mobile.jpg);
}

.img-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    width: 100%;
    height: 360px;
    display: flex;
    align-items: flex-end;
}

@media screen and (min-width: 768px) {
    .item a {
        width: 280px
    }

    .item h4 {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .destination-items {
        display: flex;
        flex-direction: row;
        width: 940px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1415px) {
    .destination-items {
        width: 1320px;
    }
}